@page "/adoptionforms/details"
@using Microsoft.EntityFrameworkCore
@using DogAdoptionWebsite.Models
@inject IDbContextFactory<DogAdoptionWebsite.Data.DogAdoptionWebsiteContext> DbFactory
@inject NavigationManager NavigationManager

<PageTitle>Details</PageTitle>

<h1>Details</h1>

<div>
    <h2>AdoptionForm</h2>
    <hr />
    @if (adoptionform is null)
    {
        <p><em>Loading...</em></p>
    }
    else {
        <dl class="row">
            <dt class="col-sm-2">FirstName</dt>
            <dd class="col-sm-10">@adoptionform.FirstName</dd>
            <dt class="col-sm-2">LastName</dt>
            <dd class="col-sm-10">@adoptionform.LastName</dd>
            <dt class="col-sm-2">Email</dt>
            <dd class="col-sm-10">@adoptionform.Email</dd>
            <dt class="col-sm-2">Age</dt>
            <dd class="col-sm-10">@adoptionform.Age</dd>
            <dt class="col-sm-2">CurrentNumberOfPets</dt>
            <dd class="col-sm-10">@adoptionform.CurrentNumberOfPets</dd>
            <dt class="col-sm-2">EmploymentStatus</dt>
            <dd class="col-sm-10">@adoptionform.EmploymentStatus</dd>
            <dt class="col-sm-2">EmployeePhoneNumber</dt>
            <dd class="col-sm-10">@adoptionform.EmployeePhoneNumber</dd>
            <dt class="col-sm-2">PetName</dt>
            <dd class="col-sm-10">@adoptionform.PetName</dd>
            <dt class="col-sm-2">PetBreed</dt>
            <dd class="col-sm-10">@adoptionform.PetBreed</dd>
            <dt class="col-sm-2">PetAge</dt>
            <dd class="col-sm-10">@adoptionform.PetAge</dd>
        </dl>
        <div>
            <a href="@($"/adoptionforms/edit?adoptionid={adoptionform.AdoptionId}")">Edit</a> |
            <a href="@($"/adoptionforms")">Back to List</a>
        </div>
    }
</div>

@code {
    private AdoptionForm? adoptionform;

    [SupplyParameterFromQuery]
    private int AdoptionId { get; set; }

    protected override async Task OnInitializedAsync()
    {
        using var context = DbFactory.CreateDbContext();
        adoptionform = await context.AdoptionForm.FirstOrDefaultAsync(m => m.AdoptionId == AdoptionId);

        if (adoptionform is null)
        {
            NavigationManager.NavigateTo("notfound");
        }
    }
}
